<!-- VID 2 Step 10.5 Create DETAILS html for CAT DETAIL PAGES -->

{% extends 'base.html' %}
{% block content %}

<h1>Cat Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ cat.name }}</span>
    <p>Breed: {{ cat.breed }}</p>
    <p>Description: {{ cat.description|linebreaks }}</p>
    {% if cat.age > 0 %}
      <p>Age: {{ cat.age }}</p>
    {% else %}
      <p>Age: Kitten</p>
    {% endif %}
  </div>
  <!-- VID 3 Step 6 Part 2 Add the UI for UPDATE and DELETE -->
  <div class="card-action">
    <a href="{% url 'cats_update' cat.id %}">Edit</a>
    <a href="{% url 'cats_delete' cat.id %}">Delete</a>
  </div>
</div>

{% endblock %}